body{
    background-image: url(../images/Forgot-password-page.png);
    background-size: cover;
}

.textNoteTop, ul{
    margin: 30% 0 0 11% !important;
    color: #727272;
    font-size: 28px;
    font-weight:300;
}
.textBottom{
    margin: 15% 0 0 11%!important;
    font-size: 28px;
    font-weight: 300;
    color: #727272;
}
.formForgotpassword{
    width: 80%;
    margin: 13% 0 0 9%;
    color: white;
    padding: 10% 0 10% 0;
}
#titleForgotpassword{
    font-size: 55px;
    font-weight: 700;
    line-height: 45px;
}
.textNote1{
    font-size: 24px;
}
input{
    height: 80px;
    font-size: 25px !important;
    border: none !important;
    color: #5A3092 !important;
    border-radius: 10px 0 0 10px !important;
}
input:focus{
    height: 80px;
    font-size: 25px;
    box-shadow: none !important;
    border-radius: 10px 0 0 10px !important;
}
.input-group-text{
    border: none !important;
    background-color: white !important;
    color: #5A3092 !important;
    font-size: 25px !important;
    border-radius: 0px 10px 10px 0px !important;
}
::placeholder{
    font-size: 25px;
    font-weight: 320;
}

.textNote3{
    float: right;
    font-size: 18px;
    line-height: 25px;
    margin: 65px 20px 0 0;
}
.textNote3 a{
    font-size: 24px;
    font-weight: 700;
    float: right;
    text-decoration: none;
    color: white;
}
.textNote3 a:hover{
    font-size: 24px;
    font-weight: 700;
    float: right;
    text-decoration: none;
    color: #5A3092;
}
.btnContinue{
    float: right;
    background-color: #fff !important;
    color: #5A3092 !important;
    font-weight: 600 !important;
    box-shadow: 10px black !important;
    width: 267px;
    height: 89px;
    font-size: 28px !important;
    font-weight: 700 !important;
    border-radius: 10px !important;
}
.btnContinue:hover{
    float: right;
    background-color: #b4b4b4 !important;
    color: #5A3092 !important;
    font-weight: 600 !important;
    box-shadow: 10px black !important;
    width: 267px;
    height: 89px;
    font-size: 28px !important;
    font-weight: 700 !important;
    border-radius: 10px !important;
}