<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">
  <title>Tiny Dashboard - A Bootstrap Dashboard Template</title>
  <!-- Simple bar CSS -->
  <link rel="stylesheet" href="SellerChannel/css/simplebar.css">
  <!-- Fonts CSS -->
  <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- Icons CSS -->
  <link rel="stylesheet" href="SellerChannel/css/feather.css">
  <!-- Date Range Picker CSS -->
  <link rel="stylesheet" href="SellerChannel/css/daterangepicker.css">
  <!-- App CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <link rel="stylesheet" href="SellerChannel/css/app-light.css" id="lightTheme" disabled>
  <link rel="stylesheet" href="SellerChannel/css/app-dark.css" id="darkTheme">
</head>
<body class="vertical  dark  ">
<div class="wrapper">
  <main role="main" class="main-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="row align-items-center mb-2">
            <div class="col-12">

              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mt-3" style="background-color: transparent;">
                  <li class="breadcrumb-item"><a href="#">Tranport Channel</a></li>

                  <li class="breadcrumb-item active" aria-current="page">Create Product</li>
                </ol>
              </nav>
              <h3>Create product</h3>
            </div>
          </div>
          <div class="card-deck">

          </div> <!-- / .card-desk-->
          <div class="row">
            <div class="col-md-12">
              <div class="card shadow mb-4">

                <div class="card-body">
                  <form  enctype="multipart/form-data">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Product’s name</label>
                        <input type="text" ng-model="book.bookname" ng-required class="form-control" placeholder="Product’s name">
                      </div>
                      <div class="form-group col-md-4">
                        <label>Category</label>
                        <input type="text" ng-model="categoryToBook" required class="form-control" disabled>
                      </div>
                      <div class="form-group col-md-2 mt-1">
                        <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target=".bd-example-modal-xl">Choose Categories</button>
                        <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="varyModalLabel">Choose books</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <form>
                                    <div class="form-group">
                                      <div class="card shadow">
                                        <div class="card-body">
                                          <h5 class="card-title">Choose books add voucher</h5>
                                          <p class="card-text">You choose Active if you want add voucher to book</p>
                                          <table class="table table-bordered table-hover mb-0">
                                            <thead>
                                            <tr>
                                              <th>ID</th>
                                              <th>Name</th>
                                              <th>Choose</th>



                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="category in categories">
                                              <td>{{ category.categoryid }}</td>
                                              <td>{{ category.name }}</td>

                                              <td>
                                                <div class="custom-control custom-switch">
                                                  <input type="checkbox" class="custom-control-input" id="c{{$index + 1}}" ng-click="getToListCategoryAddBook(category)">
                                                  <label class="custom-control-label" for="c{{$index + 1}}"></label>
                                                </div>
                                              </td>
                                            </tr>

                                            </tbody>
                                          </table>
                                        </div>

                                      </div>
                                    </div> <!-- Bordered table -->
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn mb-2 btn-primary"  >Create</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div> <!-- large modal -->

                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-3">
                        <label >Language</label>
                        <input type="text" ng-model="book.language" required class="form-control" placeholder="Example: English">
                      </div>
                      <div class="form-group col-md-3">
                        <label >Size</label>
                        <input type="text" ng-model="book.size" required class="form-control" placeholder="35 x 10 x 20">
                      </div>
                      <div class="form-group col-md-3">
                        <label  >Quantity</label>
                        <input type="number" ng-model="book.quantity" required class="form-control">
                      </div>
                      <div class="form-group col-md-3">
                        <label>Publishing Company</label>
                        <select ng-options="publishingcompany.pcid as publishingcompany.namepc for publishingcompany in publishingCompanies" ng-model="publishingcompanyid" required class="form-control">
                        </select>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-3">
                        <label>Price</label>
                        <input type="number" step="0.01" ng-model="book.price" required class="form-control">
                      </div>
                      <div class="form-group col-md-3">
                        <label for="weight">Weight</label>
                        <input class="form-control" ng-model="book.weight" required step="0.1" id="weight" name="weight">
                      </div>

                      <div class="form-group col-md-3">
                        <label>Date Picker</label>
                        <div class="input-group">
                          <input  ng-model="book.publishingyear" required type="text" class="form-control drgpicker" value="2023" aria-describedby="button-addon2">
                          <div class="input-group-append">
                            <div class="input-group-text" id="button-addon-date"><span class="fe fe-calendar fe-16 mx-2"></span></div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group col-md-3">
                        <label>Total page</label>
                        <input type="number"  ng-model="book.totalpage" required class="form-control" min="1">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-3">
                        <label>Writer</label>
                        <select ng-options="writer.writingmasterid as writer.namewm for writer in writers" ng-model="writingmasterid" required class="form-control">
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Image</label>
                      <div class="form-group">
                        <label for="images">Images</label>
                        <input type="file" id="images" name="images" ng-model="images" multiple accept="image/*" required>
                      </div>
                      <div class="form-group">
                        <div class="card-deck mb-4">
                          <div class="card border-0 bg-transparent" id="imageContainer">
                            <!-- Hiển thị ảnh đã chọn -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" ng-model="book.isactive">
                        <label class="form-check-label"> Active? </label>
                        <div class="invalid-feedback"> You must agree before submitting. </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="saveBook()">Create product</button>
                  </form>
                </div> <!-- /. card-body -->
              </div> <!-- /. card -->
            </div> <!-- /. col -->
          </div> <!-- /. end-section -->
        </div> <!-- .col-12 -->
      </div> <!-- .row -->
    </div> <!-- .container-fluid -->
    <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Notifications</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="list-group list-group-flush my-n3">
              <div class="list-group-item bg-transparent">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="fe fe-box fe-24"></span>
                  </div>
                  <div class="col">
                    <small><strong>Package has uploaded successfull</strong></small>
                    <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                    <small class="badge badge-pill badge-light text-muted">1m ago</small>
                  </div>
                </div>
              </div>
              <div class="list-group-item bg-transparent">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="fe fe-download fe-24"></span>
                  </div>
                  <div class="col">
                    <small><strong>Widgets are updated successfull</strong></small>
                    <div class="my-0 text-muted small">Just create new layout Index, form, table</div>
                    <small class="badge badge-pill badge-light text-muted">2m ago</small>
                  </div>
                </div>
              </div>
              <div class="list-group-item bg-transparent">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="fe fe-inbox fe-24"></span>
                  </div>
                  <div class="col">
                    <small><strong>Notifications have been sent</strong></small>
                    <div class="my-0 text-muted small">Fusce dapibus, tellus ac cursus commodo</div>
                    <small class="badge badge-pill badge-light text-muted">30m ago</small>
                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="list-group-item bg-transparent">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="fe fe-link fe-24"></span>
                  </div>
                  <div class="col">
                    <small><strong>Link was attached to menu</strong></small>
                    <div class="my-0 text-muted small">New layout has been attached to the menu</div>
                    <small class="badge badge-pill badge-light text-muted">1h ago</small>
                  </div>
                </div>
              </div> <!-- / .row -->
            </div> <!-- / .list-group -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear All</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade modal-shortcut modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="defaultModalLabel">Shortcuts</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body px-5">
            <div class="row align-items-center">
              <div class="col-6 text-center">
                <div class="squircle bg-success justify-content-center">
                  <i class="fe fe-cpu fe-32 align-self-center text-white"></i>
                </div>
                <p>Control area</p>
              </div>
              <div class="col-6 text-center">
                <div class="squircle bg-primary justify-content-center">
                  <i class="fe fe-activity fe-32 align-self-center text-white"></i>
                </div>
                <p>Activity</p>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-6 text-center">
                <div class="squircle bg-primary justify-content-center">
                  <i class="fe fe-droplet fe-32 align-self-center text-white"></i>
                </div>
                <p>Droplet</p>
              </div>
              <div class="col-6 text-center">
                <div class="squircle bg-primary justify-content-center">
                  <i class="fe fe-upload-cloud fe-32 align-self-center text-white"></i>
                </div>
                <p>Upload</p>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-6 text-center">
                <div class="squircle bg-primary justify-content-center">
                  <i class="fe fe-users fe-32 align-self-center text-white"></i>
                </div>
                <p>Users</p>
              </div>
              <div class="col-6 text-center">
                <div class="squircle bg-primary justify-content-center">
                  <i class="fe fe-settings fe-32 align-self-center text-white"></i>
                </div>
                <p>Settings</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main> <!-- main -->
</div> <!-- .wrapper -->
<script src="SellerChannel/js/jquery.min.js"></script>
<script src="SellerChannel/js/popper.min.js"></script>
<script src="SellerChannel/js/moment.min.js"></script>
<script src="SellerChannel/js/bootstrap.min.js"></script>
<script src="SellerChannel/js/simplebar.min.js"></script>
<script src='SellerChannel/js/daterangepicker.js'></script>
<script src='SellerChannel/js/jquery.stickOnScroll.js'></script>
<script src="SellerChannel/js/tinycolor-min.js"></script>
<script src="SellerChannel/js/config.js"></script>
<script src="SellerChannel/js/apps.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag()
  {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-56159088-1');
  $('.drgpicker').daterangepicker(
          {
            singleDatePicker: true,
            timePicker: false,
            showDropdowns: true,
            locale:
                    {
                      format: 'MM/DD/YYYY'
                    }
          });
</script>
</body>
</html>
