<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Tiny Dashboard - A Bootstrap Dashboard Template</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="SellerChannel/css/simplebar.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="SellerChannel/css/feather.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="SellerChannel/css/app-light.css" id="lightTheme" disabled>
    <link rel="stylesheet" href="SellerChannel/css/app-dark.css" id="darkTheme">
</head>
<body class="vertical  dark  ">
<div class="wrapper">
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row align-items-center mb-2">
                        <div class="col">
                            <h2 class="h5 page-title">Welcome!</h2>
                        </div>
                        <div class="col-auto">
                            <form class="form-inline">
                                <div class="form-group d-none d-lg-inline">
                                    <label for="reportrange" class="sr-only">Date Ranges</label>
                                    <div class="px-2 py-2 text-muted">
                                        <span class="small"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-sm"><span
                                            class="fe fe-refresh-ccw fe-16 text-muted"></span></button>
                                    <button type="button" class="btn btn-sm mr-2"><span
                                            class="fe fe-filter fe-16 text-muted"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="card shadow my-4">
                        <div class="card-body">
                            <div class="row align-items-center my-4">
                                <div class="col-md-12">
                                    <div class="mx-4">
                                        <strong class="mb-0 text-uppercase text-muted">Total</strong><br/>
                                        <h3 ng-if="shopPayment.total >0" >{{ shopPayment.total | currency:"VND"}}</h3>
                                        <h3 ng-if="shopPayment.total <0" >VND0</h3>
                                        <p class="text-muted"  ng-if="accountBalance.accountnumber != null">My Bank Account: {{accountBalance.accountnumber}}</p>
                                        <p class="text-muted"  ng-if="accountBalance.accountnumber == null">My Bank Account: Not have</p>
                                    </div>

                                    <div class="row">
                                        <h3 class="col-md-8 col-sm-6" style="padding-left: 2.5%">Paid</h3>
                                        <h3 class="col-md-4 col-sm-6" style="padding-left: 2.5%">UnPaid</h3>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-md-4 col-sm-6">
                                            <div class="p-4">
                                                <p class="small text-uppercase text-muted mb-0">This month</p>
                                                <span class="h2 mb-0">{{analysisFinance.monthPaid}}</span>

                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="p-4">
                                                <p class="small text-uppercase text-muted mb-0">Total</p>
                                                <span class="h2 mb-0">{{analysisFinance.totalPaid}}</span>

                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="p-4">
                                                <p class="small text-uppercase text-muted mb-0">Total</p>
                                                <span class="h2 mb-0">{{analysisFinance.totalUnpaid}}</span>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- .col-md-8 -->
                            </div> <!-- end section -->
                        </div> <!-- .card-body -->
                    </div> <!-- .card -->
                    <div class="mb-2 align-items-center">
                        <div class="card shadow">
                            <div class="card-body">
                                <h3 class="">Submit a payment request</h3>
                                <div class="tab-content mb-1" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-All" role="tabpanel"
                                         aria-labelledby="pills-All-tab">
                                        <form class="col-md-6 col-sm-12">
                                            <label for="inputAmountOfMoney" class="form-label">Amount of money</label>
                                            <input type="number" id="inputAmountOfMoney" class="form-control"
                                                   aria-describedby="passwordHelpBlock" max="shopPayment.total" min="1"
                                                   ng-model="paymentTotal ">
                                            <div id="PaymentBlock" class="form-text">
                                                You must enter an amount greater than 0 and less than the value you
                                                currently own.
                                            </div>
                                            <button type="submit" class="btn btn-primary"
                                                    ng-click="sendRequestPayment()">Send request
                                            </button>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="pills-Waitforconfirmation" role="tabpanel"
                                         aria-labelledby="pills-Waitforconfirmation-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Date Range</label>
                                                    <input type="text" name="datetimes" class="form-control datetimes"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="reportrange">Predefined Date Ranges</label>
                                                    <div id="" class="border px-2 py-2 bg-light">
                                                        <i class="fe fe-calendar fe-16 mx-2"></i>
                                                        <span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Search</label>
                                                    <form class="mb-3">
                                                        <input class="form-control text-muted" type="search"
                                                               placeholder="Type something..." aria-label="Search">
                                                        <br>
                                                    </form>
                                                </div>
                                                <div class="form-group mt-4">
                                                    <button type="button" class="btn mb-2 btn-outline-secondary"><span
                                                            class="fe fe-arrow-down fe-16 mr-2"></span>Export as Excel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-Delivered" role="tabpanel"
                                         aria-labelledby="pills-Delivered-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Date Range</label>
                                                    <input type="text" name="datetimes" class="form-control datetimes"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="reportrange">Predefined Date Ranges</label>
                                                    <div class="border px-2 py-2 bg-light">
                                                        <i class="fe fe-calendar fe-16 mx-2"></i>
                                                        <span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Search</label>
                                                    <form class="mb-3">
                                                        <input class="form-control text-muted" type="search"
                                                               placeholder="Type something..." aria-label="Search">
                                                        <br>
                                                    </form>
                                                </div>
                                                <div class="form-group mt-4">
                                                    <button type="button" class="btn mb-2 btn-outline-secondary"><span
                                                            class="fe fe-arrow-down fe-16 mr-2"></span>Export as Excel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-Cancellation" role="tabpanel"
                                         aria-labelledby="pills-Cancellation-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Date Range</label>
                                                    <input type="text" name="datetimes" class="form-control datetimes"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="reportrange">Predefined Date Ranges</label>
                                                    <div class="border px-2 py-2 bg-light">
                                                        <i class="fe fe-calendar fe-16 mx-2"></i>
                                                        <span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Search</label>
                                                    <form class="mb-3">
                                                        <input class="form-control text-muted" type="search"
                                                               placeholder="Type something..." aria-label="Search">
                                                        <br>
                                                    </form>
                                                </div>
                                                <div class="form-group mt-4">
                                                    <button type="button" class="btn mb-2 btn-outline-secondary"><span
                                                            class="fe fe-arrow-down fe-16 mr-2"></span>Export as Excel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-ReturnRefund" role="tabpanel"
                                         aria-labelledby="pills-ReturnRefund-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Date Range</label>
                                                    <input type="text" name="datetimes" class="form-control datetimes"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="reportrange">Predefined Date Ranges</label>
                                                    <div class="border px-2 py-2 bg-light">
                                                        <i class="fe fe-calendar fe-16 mx-2"></i>
                                                        <span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Search</label>
                                                    <form class="mb-3">
                                                        <input class="form-control text-muted" type="search"
                                                               placeholder="Type something..." aria-label="Search">
                                                        <br>
                                                    </form>
                                                </div>
                                                <div class="form-group mt-4">
                                                    <button type="button" class="btn mb-2 btn-outline-secondary"><span
                                                            class="fe fe-arrow-down fe-16 mr-2"></span>Export as Excel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-Deliveryfailed" role="tabpanel"
                                         aria-labelledby="pills-Deliveryfailed-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Date Range</label>
                                                    <input type="text" name="datetimes" class="form-control datetimes"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="reportrange">Predefined Date Ranges</label>
                                                    <div id="reportrange" class="border px-2 py-2 bg-light">
                                                        <i class="fe fe-calendar fe-16 mx-2"></i>
                                                        <span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Search</label>
                                                    <form class="mb-3">
                                                        <input class="form-control text-muted" type="search"
                                                               placeholder="Type something..." aria-label="Search">
                                                        <br>
                                                    </form>
                                                </div>
                                                <div class="form-group mt-4">
                                                    <button type="button" class="btn mb-2 btn-outline-secondary"><span
                                                            class="fe fe-arrow-down fe-16 mr-2"></span>Export as Excel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-2 mb-2 align-items-center">
                            <div class="card shadow">
                                <div class="card-body">

                                    <main role="main">
                                        <div class="container-fluid">
                                            <div class="row justify-content-center">
                                                <div class="col-12">
                                                    <div class="row my-4">
                                                        <!-- Small table -->
                                                        <div class="col-md-12">
                                                            <div class="card shadow">
                                                                <div class="card-body">
                                                                    <div class="row p-2">
                                                                        <h3 class="col-md-8 col-sm-12">Overview</h3>
                                                                        <!-- table -->
                                                                        <input class="form-control me-2 col-md-4 col-sm-12 mb-3"
                                                                               type="search" placeholder="Search"
                                                                               aria-label="Search" ng-model="keywords">
                                                                    </div>
                                                                    <table class="table datatables" id="dataTable-1">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>Create Date</th>
                                                                            <th>Value Payment</th>
                                                                            <th>Status Payment</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr ng-repeat="list in listPayment | filter:keywords">
                                                                            <td>{{list.createat}}</td>
                                                                            <td>{{list.valuepayment}}</td>
                                                                            <td>{{list.status? 'Paid':'Un Paid'}}</td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div> <!-- simple table -->
                                                    </div> <!-- end section -->
                                                </div> <!-- .col-12 -->
                                            </div> <!-- .row -->
                                        </div> <!-- .container-fluid -->
                                        <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog"
                                             aria-labelledby="defaultModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-sm" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Notifications</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="list-group list-group-flush my-n3">
                                                            <div class="list-group-item bg-transparent">
                                                                <div class="row align-items-center">
                                                                    <div class="col-auto">
                                                                        <span class="fe fe-box fe-24"></span>
                                                                    </div>
                                                                    <div class="col">
                                                                        <small><strong>Package has uploaded
                                                                            successfull</strong></small>
                                                                        <div class="my-0 text-muted small">Package is
                                                                            zipped and uploaded
                                                                        </div>
                                                                        <small class="badge badge-pill badge-light text-muted">1m
                                                                            ago</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="list-group-item bg-transparent">
                                                                <div class="row align-items-center">
                                                                    <div class="col-auto">
                                                                        <span class="fe fe-download fe-24"></span>
                                                                    </div>
                                                                    <div class="col">
                                                                        <small><strong>Widgets are updated
                                                                            successfull</strong></small>
                                                                        <div class="my-0 text-muted small">Just create
                                                                            new layout Index, form, table
                                                                        </div>
                                                                        <small class="badge badge-pill badge-light text-muted">2m
                                                                            ago</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="list-group-item bg-transparent">
                                                                <div class="row align-items-center">
                                                                    <div class="col-auto">
                                                                        <span class="fe fe-inbox fe-24"></span>
                                                                    </div>
                                                                    <div class="col">
                                                                        <small><strong>Notifications have been
                                                                            sent</strong></small>
                                                                        <div class="my-0 text-muted small">Fusce
                                                                            dapibus, tellus ac cursus commodo
                                                                        </div>
                                                                        <small class="badge badge-pill badge-light text-muted">30m
                                                                            ago</small>
                                                                    </div>
                                                                </div> <!-- / .row -->
                                                            </div>
                                                            <div class="list-group-item bg-transparent">
                                                                <div class="row align-items-center">
                                                                    <div class="col-auto">
                                                                        <span class="fe fe-link fe-24"></span>
                                                                    </div>
                                                                    <div class="col">
                                                                        <small><strong>Link was attached to
                                                                            menu</strong></small>
                                                                        <div class="my-0 text-muted small">New layout
                                                                            has been attached to the menu
                                                                        </div>
                                                                        <small class="badge badge-pill badge-light text-muted">1h
                                                                            ago</small>
                                                                    </div>
                                                                </div>
                                                            </div> <!-- / .row -->
                                                        </div> <!-- / .list-group -->
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary btn-block"
                                                                data-dismiss="modal">Clear
                                                            All
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade modal-shortcut modal-slide" tabindex="-1" role="dialog"
                                             aria-labelledby="defaultModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Shortcuts</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body px-5">
                                                        <div class="row align-items-center">
                                                            <div class="col-6 text-center">
                                                                <div class="squircle bg-success justify-content-center">
                                                                    <i class="fe fe-cpu fe-32 align-self-center text-white"></i>
                                                                </div>
                                                                <p>Control area</p>
                                                            </div>
                                                            <div class="col-6 text-center">
                                                                <div class="squircle bg-primary justify-content-center">
                                                                    <i class="fe fe-activity fe-32 align-self-center text-white"></i>
                                                                </div>
                                                                <p>Activity</p>
                                                            </div>
                                                        </div>
                                                        <div class="row align-items-center">
                                                            <div class="col-6 text-center">
                                                                <div class="squircle bg-primary justify-content-center">
                                                                    <i class="fe fe-droplet fe-32 align-self-center text-white"></i>
                                                                </div>
                                                                <p>Droplet</p>
                                                            </div>
                                                            <div class="col-6 text-center">
                                                                <div class="squircle bg-primary justify-content-center">
                                                                    <i class="fe fe-upload-cloud fe-32 align-self-center text-white"></i>
                                                                </div>
                                                                <p>Upload</p>
                                                            </div>
                                                        </div>
                                                        <div class="row align-items-center">
                                                            <div class="col-6 text-center">
                                                                <div class="squircle bg-primary justify-content-center">
                                                                    <i class="fe fe-users fe-32 align-self-center text-white"></i>
                                                                </div>
                                                                <p>Users</p>
                                                            </div>
                                                            <div class="col-6 text-center">
                                                                <div class="squircle bg-primary justify-content-center">
                                                                    <i class="fe fe-settings fe-32 align-self-center text-white"></i>
                                                                </div>
                                                                <p>Settings</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </main> <!-- main -->
                                </div>
                            </div>
                        </div>


                        <div class="row">


                        </div> <!-- .row-->
                    </div> <!-- .col-12 -->
                </div>
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
        <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Notifications</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="list-group list-group-flush my-n3">
                            <div class="list-group-item bg-transparent">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="fe fe-box fe-24"></span>
                                    </div>
                                    <div class="col">
                                        <small><strong>Package has uploaded successfull</strong></small>
                                        <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                                        <small class="badge badge-pill badge-light text-muted">1m ago</small>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item bg-transparent">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="fe fe-download fe-24"></span>
                                    </div>
                                    <div class="col">
                                        <small><strong>Widgets are updated successfull</strong></small>
                                        <div class="my-0 text-muted small">Just create new layout Index, form, table
                                        </div>
                                        <small class="badge badge-pill badge-light text-muted">2m ago</small>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item bg-transparent">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="fe fe-inbox fe-24"></span>
                                    </div>
                                    <div class="col">
                                        <small><strong>Notifications have been sent</strong></small>
                                        <div class="my-0 text-muted small">Fusce dapibus, tellus ac cursus commodo</div>
                                        <small class="badge badge-pill badge-light text-muted">30m ago</small>
                                    </div>
                                </div> <!-- / .row -->
                            </div>
                            <div class="list-group-item bg-transparent">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="fe fe-link fe-24"></span>
                                    </div>
                                    <div class="col">
                                        <small><strong>Link was attached to menu</strong></small>
                                        <div class="my-0 text-muted small">New layout has been attached to the menu
                                        </div>
                                        <small class="badge badge-pill badge-light text-muted">1h ago</small>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .list-group -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear All
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-shortcut modal-slide" tabindex="-1" role="dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body px-5">
                        <div class="row align-items-center">
                            <div class="col-6 text-center">
                                <div class="squircle bg-success justify-content-center">
                                    <i class="fe fe-cpu fe-32 align-self-center text-white"></i>
                                </div>
                                <p>Control area</p>
                            </div>
                            <div class="col-6 text-center">
                                <div class="squircle bg-primary justify-content-center">
                                    <i class="fe fe-activity fe-32 align-self-center text-white"></i>
                                </div>
                                <p>Activity</p>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-6 text-center">
                                <div class="squircle bg-primary justify-content-center">
                                    <i class="fe fe-droplet fe-32 align-self-center text-white"></i>
                                </div>
                                <p>Droplet</p>
                            </div>
                            <div class="col-6 text-center">
                                <div class="squircle bg-primary justify-content-center">
                                    <i class="fe fe-upload-cloud fe-32 align-self-center text-white"></i>
                                </div>
                                <p>Upload</p>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-6 text-center">
                                <div class="squircle bg-primary justify-content-center">
                                    <i class="fe fe-users fe-32 align-self-center text-white"></i>
                                </div>
                                <p>Users</p>
                            </div>
                            <div class="col-6 text-center">
                                <div class="squircle bg-primary justify-content-center">
                                    <i class="fe fe-settings fe-32 align-self-center text-white"></i>
                                </div>
                                <p>Settings</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main> <!-- main -->
</div> <!-- .wrapper -->
<script src="SellerChannel/js/jquery.min.js"></script>
<script src="SellerChannel/js/popper.min.js"></script>
<script src="SellerChannel/js/moment.min.js"></script>
<script src="SellerChannel/js/bootstrap.min.js"></script>
<script src="SellerChannel/js/simplebar.min.js"></script>
<script src='SellerChannel/js/daterangepicker.js'></script>
<script src='SellerChannel/js/jquery.stickOnScroll.js'></script>
<script src="SellerChannel/js/tinycolor-min.js"></script>
<script src="SellerChannel/js/config.js"></script>
<script src="SellerChannel/js/d3.min.js"></script>
<script src="SellerChannel/js/topojson.min.js"></script>
<script src="SellerChannel/js/datamaps.all.min.js"></script>
<script src="SellerChannel/js/datamaps-zoomto.js"></script>
<script src="SellerChannel/js/datamaps.custom.js"></script>
<script src="SellerChannel/js/Chart.min.js"></script>
<script>
    /* defind global options */
    Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
    Chart.defaults.global.defaultFontColor = colors.mutedColor;
</script>
<script src="SellerChannel/js/gauge.min.js"></script>
<script src="SellerChannel/js/jquery.sparkline.min.js"></script>
<script src="SellerChannel/js/apexcharts.min.js"></script>
<script src="SellerChannel/js/apexcharts.custom.js"></script>
<script src="SellerChannel/js/apps.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-56159088-1');
</script>
</body>
</html>