<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Tiny Dashboard - A Bootstrap Dashboard Template</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="SellerChannel/css/simplebar.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="SellerChannel/css/feather.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="SellerChannel/css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="SellerChannel/css/app-light.css" id="lightTheme" disabled>
    <link rel="stylesheet" href="SellerChannel/css/app-dark.css" id="darkTheme">
  </head>
  <body class="vertical  light  ">
  <div class="wrapper">

    <main role="main" class="main-content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="row align-items-center mb-2">
              <div class="col-12">

                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mt-3" style="background-color: transparent;">
                    <li class="breadcrumb-item"><a href="#">Tranport Channel</a></li>

                    <li class="breadcrumb-item active" aria-current="page">Voucher</li>
                  </ol>
                </nav>
                <h3>Voucher</h3>
              </div>
            </div>
            <div class="mb-2 align-items-center">
              <div class="card shadow">
                <div class="card-body">
                  <ul class="nav nav-pills nav-fill mb-3">
                    <li class="nav-item">
                      <a class="nav-link active" ng-click="findByOrderStatusId('S')" ng-init="findByOrderStatusId('S')" data-toggle="pill">Voucher for books</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" ng-click="findByOrderStatusId('D')" data-toggle="pill" >Voucher for delivery</a>
                    </li>
                  </ul>
                  <div class="tab-content mb-1" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-All" role="tabpanel" aria-labelledby="pills-All-tab">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <input type="text" class="form-control" ng-model="searchText.couoponcode" placeholder="Search Voucher ID"/>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <form class="mb-3">
                              <input class="form-control text-muted" placeholder="Promotion name..." aria-label="Search" ng-model="searchText.promotionname">
                              <br>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>





                  </div>
                </div>

                <div class="mt-2 mb-2 align-items-center">
                  <div class="card shadow">
                    <div class="card-body">

                      <main role="main">
                        <div class="container-fluid">
                          <div class="row justify-content-center">
                            <div class="col-12">
                              <div class="row my-4">
                                <!-- Small table -->
                                <div class="col-md-12">
                                  <div class="card shadow">
                                    <div class="card-body">
                                      <!-- table -->
                                      <table class="table datatables" id="dataTable-1">
                                        <thead>
                                        <tr>
                                          <th>Couopon code</th>
                                          <th>Name Couopon code</th>
                                          <th>Cost</th>
                                          <th>Create At</th>
                                          <th>Shipping Unit</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="vouchers in voucher | filter: searchText">
                                          <td>{{ vouchers.couoponcode }}</td>
                                          <td>{{ vouchers.promotionname }}</td>
                                          <td>{{ vouchers.cost}}</td>
                                          <td>{{ vouchers.createat }}</td>
                                          <td>{{ vouchers.descriptions }}</td>
                                          <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button"
                                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="text-muted sr-only">Action</span>
                                          </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                              <a class="dropdown-item" data-toggle="modal" data-target=".bd-example-modal-xl" ng-click="setCheckboxHassale(vouchers.couoponcode)">Edit</a>
                                              <a class="dropdown-item" href="#">Remove</a>
                                              <a class="dropdown-item" href="#">Assign</a>
                                            </div>
                                          </td>
                                        </tr>

                                        </tbody>
                                        <nav aria-label="Page navigation example">
                                          <ul class="pagination">
                                            <li class="page-item" ng-class="{disabled: currentPage === 1}">
                                              <a class="page-link" ng-click="setPage(currentPage - 1)">Previous</a>
                                            </li>
                                            <li class="page-item" ng-repeat="page in getPages()" ng-class="{active: currentPage === page}">
                                              <a class="page-link" ng-click="setPage(page)">{{ page }}</a>
                                            </li>
                                            <li class="page-item" ng-class="{disabled: currentPage === totalPages}">
                                              <a class="page-link" ng-click="setPage(currentPage + 1)">Next</a>
                                            </li>
                                          </ul>
                                        </nav>
                                      </table>

                                    </div>
                                    <div class="form-group col-md-2 mt-1">

                                      <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-xl" role="document">
                                          <div class="modal-content">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="varyModalLabel">Choose books</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                <form>
                                                  <div class="form-group">
                                                    <div class="card shadow">
                                                      <div class="card-body">
                                                        <h5 class="card-title">Choose books add voucher</h5>
                                                        <p class="card-text">You choose Active if you want add voucher to book</p>
                                                        <table class="table table-bordered table-hover mb-0">
                                                          <thead>
                                                          <tr>
                                                            <th>ID</th>
                                                            <th>Name</th>
                                                            <th>Language</th>
                                                            <th>Active?</th>


                                                          </tr>
                                                          </thead>
                                                          <tbody>
                                                          <tr ng-repeat="book in paginatedBooksv2">
                                                            <td>{{ book.bookid }}</td>
                                                            <td>{{ book.bookname }}</td>
                                                            <td>{{ book.language }}</td>
                                                            <td>
                                                              <div class="custom-control custom-switch">
                                                                <input type="checkbox" ng-model="itemChecked[book.name]" class="custom-control-input" id="c{{$index + 1}}">
                                                                <label class="custom-control-label" for="c{{$index + 1}}"></label>
                                                              </div>
                                                            </td>
                                                          </tr>




                                                          </tbody>

                                                          <nav aria-label="Page navigation example">
                                                            <ul class="pagination">
                                                              <li class="page-item" ng-class="{disabled: currentPagev2 === 1}">
                                                                <a class="page-link" ng-click="setPagev2(currentPagev2 - 1)">Previous</a>
                                                              </li>
                                                              <li class="page-item" ng-repeat="page in getPagesv2()" ng-class="{active: currentPagev2 === page}">
                                                                <a class="page-link" ng-click="setPagev2(page)">{{ page }}</a>
                                                              </li>
                                                              <li class="page-item" ng-class="{disabled: currentPagev2 === totalPagesv2}">
                                                                <a class="page-link" ng-click="setPagev2(currentPagev2 + 1)">Next</a>
                                                              </li>
                                                            </ul>
                                                          </nav>
                                                        </table>
                                                      </div>

                                                    </div>
                                                  </div> <!-- Bordered table -->
                                                </form>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn mb-2 btn-primary">Create</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div> <!-- large modal -->

                                    </div>
                                  </div>
                                </div> <!-- simple table -->
                              </div> <!-- end section -->
                            </div> <!-- .col-12 -->
                          </div> <!-- .row -->
                        </div> <!-- .container-fluid -->
                        <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog"
                             aria-labelledby="defaultModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div class="list-group list-group-flush my-n3">
                                  <div class="list-group-item bg-transparent">
                                    <div class="row align-items-center">
                                      <div class="col-auto">
                                        <span class="fe fe-box fe-24"></span>
                                      </div>
                                      <div class="col">
                                        <small><strong>Package has uploaded successfull</strong></small>
                                        <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                                        <small class="badge badge-pill badge-light text-muted">1m ago</small>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="list-group-item bg-transparent">
                                    <div class="row align-items-center">
                                      <div class="col-auto">
                                        <span class="fe fe-download fe-24"></span>
                                      </div>
                                      <div class="col">
                                        <small><strong>Widgets are updated successfull</strong></small>
                                        <div class="my-0 text-muted small">Just create new layout Index, form, table
                                        </div>
                                        <small class="badge badge-pill badge-light text-muted">2m ago</small>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="list-group-item bg-transparent">
                                    <div class="row align-items-center">
                                      <div class="col-auto">
                                        <span class="fe fe-inbox fe-24"></span>
                                      </div>
                                      <div class="col">
                                        <small><strong>Notifications have been sent</strong></small>
                                        <div class="my-0 text-muted small">Fusce dapibus, tellus ac cursus commodo</div>
                                        <small class="badge badge-pill badge-light text-muted">30m ago</small>
                                      </div>
                                    </div> <!-- / .row -->
                                  </div>
                                  <div class="list-group-item bg-transparent">
                                    <div class="row align-items-center">
                                      <div class="col-auto">
                                        <span class="fe fe-link fe-24"></span>
                                      </div>
                                      <div class="col">
                                        <small><strong>Link was attached to menu</strong></small>
                                        <div class="my-0 text-muted small">New layout has been attached to the menu
                                        </div>
                                        <small class="badge badge-pill badge-light text-muted">1h ago</small>
                                      </div>
                                    </div>
                                  </div> <!-- / .row -->
                                </div> <!-- / .list-group -->
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear
                                  All</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal fade modal-shortcut modal-slide" tabindex="-1" role="dialog"
                             aria-labelledby="defaultModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="defaultModalLabel">Shortcuts</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body px-5">
                                <div class="row align-items-center">
                                  <div class="col-6 text-center">
                                    <div class="squircle bg-success justify-content-center">
                                      <i class="fe fe-cpu fe-32 align-self-center text-white"></i>
                                    </div>
                                    <p>Control area</p>
                                  </div>
                                  <div class="col-6 text-center">
                                    <div class="squircle bg-primary justify-content-center">
                                      <i class="fe fe-activity fe-32 align-self-center text-white"></i>
                                    </div>
                                    <p>Activity</p>
                                  </div>
                                </div>
                                <div class="row align-items-center">
                                  <div class="col-6 text-center">
                                    <div class="squircle bg-primary justify-content-center">
                                      <i class="fe fe-droplet fe-32 align-self-center text-white"></i>
                                    </div>
                                    <p>Droplet</p>
                                  </div>
                                  <div class="col-6 text-center">
                                    <div class="squircle bg-primary justify-content-center">
                                      <i class="fe fe-upload-cloud fe-32 align-self-center text-white"></i>
                                    </div>
                                    <p>Upload</p>
                                  </div>
                                </div>
                                <div class="row align-items-center">
                                  <div class="col-6 text-center">
                                    <div class="squircle bg-primary justify-content-center">
                                      <i class="fe fe-users fe-32 align-self-center text-white"></i>
                                    </div>
                                    <p>Users</p>
                                  </div>
                                  <div class="col-6 text-center">
                                    <div class="squircle bg-primary justify-content-center">
                                      <i class="fe fe-settings fe-32 align-self-center text-white"></i>
                                    </div>
                                    <p>Settings</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </main> <!-- main -->
                    </div>
                  </div>
                </div>



                <div class="row">


                </div> <!-- .row-->
              </div> <!-- .col-12 -->
            </div> <!-- .row -->
          </div> <!-- .container-fluid -->
          <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel"
               aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="list-group list-group-flush my-n3">
                    <div class="list-group-item bg-transparent">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <span class="fe fe-box fe-24"></span>
                        </div>
                        <div class="col">
                          <small><strong>Package has uploaded successfull</strong></small>
                          <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                          <small class="badge badge-pill badge-light text-muted">1m ago</small>
                        </div>
                      </div>
                    </div>
                    <div class="list-group-item bg-transparent">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <span class="fe fe-download fe-24"></span>
                        </div>
                        <div class="col">
                          <small><strong>Widgets are updated successfull</strong></small>
                          <div class="my-0 text-muted small">Just create new layout Index, form, table</div>
                          <small class="badge badge-pill badge-light text-muted">2m ago</small>
                        </div>
                      </div>
                    </div>
                    <div class="list-group-item bg-transparent">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <span class="fe fe-inbox fe-24"></span>
                        </div>
                        <div class="col">
                          <small><strong>Notifications have been sent</strong></small>
                          <div class="my-0 text-muted small">Fusce dapibus, tellus ac cursus commodo</div>
                          <small class="badge badge-pill badge-light text-muted">30m ago</small>
                        </div>
                      </div> <!-- / .row -->
                    </div>
                    <div class="list-group-item bg-transparent">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <span class="fe fe-link fe-24"></span>
                        </div>
                        <div class="col">
                          <small><strong>Link was attached to menu</strong></small>
                          <div class="my-0 text-muted small">New layout has been attached to the menu</div>
                          <small class="badge badge-pill badge-light text-muted">1h ago</small>
                        </div>
                      </div>
                    </div> <!-- / .row -->
                  </div> <!-- / .list-group -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear All</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade modal-shortcut modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel"
               aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="defaultModalLabel">Shortcuts</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body px-5">
                  <div class="row align-items-center">
                    <div class="col-6 text-center">
                      <div class="squircle bg-success justify-content-center">
                        <i class="fe fe-cpu fe-32 align-self-center text-white"></i>
                      </div>
                      <p>Control area</p>
                    </div>
                    <div class="col-6 text-center">
                      <div class="squircle bg-primary justify-content-center">
                        <i class="fe fe-activity fe-32 align-self-center text-white"></i>
                      </div>
                      <p>Activity</p>
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col-6 text-center">
                      <div class="squircle bg-primary justify-content-center">
                        <i class="fe fe-droplet fe-32 align-self-center text-white"></i>
                      </div>
                      <p>Droplet</p>
                    </div>
                    <div class="col-6 text-center">
                      <div class="squircle bg-primary justify-content-center">
                        <i class="fe fe-upload-cloud fe-32 align-self-center text-white"></i>
                      </div>
                      <p>Upload</p>
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col-6 text-center">
                      <div class="squircle bg-primary justify-content-center">
                        <i class="fe fe-users fe-32 align-self-center text-white"></i>
                      </div>
                      <p>Users</p>
                    </div>
                    <div class="col-6 text-center">
                      <div class="squircle bg-primary justify-content-center">
                        <i class="fe fe-settings fe-32 align-self-center text-white"></i>
                      </div>
                      <p>Settings</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </main> <!-- main -->

  </div> <!-- .wrapper -->
  <script src='SellerChannel/js/daterangepicker.js'></script>




  <script src='SellerChannel/js/select2.min.js'></script>

  <script src='SellerChannel/js/jquery.timepicker.js'></script>
  <script src="SellerChannel/js/jquery.min.js"></script>
  <script src="SellerChannel/js/popper.min.js"></script>
  <script src="SellerChannel/js/moment.min.js"></script>
  <script src="SellerChannel/js/bootstrap.min.js"></script>
  <script src="SellerChannel/js/simplebar.min.js"></script>
  <script src='SellerChannel/js/daterangepicker.js'></script>
  <script src='SellerChannel/js/jquery.stickOnScroll.js'></script>
  <script src="SellerChannel/js/tinycolor-min.js"></script>
  <script src="SellerChannel/js/config.js"></script>
  <script src="SellerChannel/js/d3.min.js"></script>
  <script src="SellerChannel/js/topojson.min.js"></script>
  <script src="SellerChannel/js/datamaps.all.min.js"></script>
  <script src="SellerChannel/js/datamaps-zoomto.js"></script>
  <script src="SellerChannel/js/datamaps.custom.js"></script>
  <script src="SellerChannel/js/Chart.min.js"></script>
  <script>
    /* defind global options */
    Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
    Chart.defaults.global.defaultFontColor = colors.mutedColor;
  </script>
  <script src="SellerChannel/js/gauge.min.js"></script>
  <script src="SellerChannel/js/jquery.sparkline.min.js"></script>
  <script src="SellerChannel/js/apexcharts.min.js"></script>
  <script src="SellerChannel/js/apexcharts.custom.js"></script>
  <script src='SellerChannel/js/jquery.mask.min.js'></script>
  <script src='SellerChannel/js/select2.min.js'></script>
  <script src='SellerChannel/js/jquery.steps.min.js'></script>
  <script src='SellerChannel/js/jquery.validate.min.js'></script>
  <script src='SellerChannel/js/jquery.timepicker.js'></script>
  <script src='SellerChannel/js/dropzone.min.js'></script>
  <script src='SellerChannel/js/uppy.min.js'></script>
  <script src='SellerChannel/js/quill.min.js'></script>
  <script>
    $('.select2').select2(
            {
              theme: 'bootstrap4',
            });
    $('.select2-multi').select2(
            {
              multiple: true,
              theme: 'bootstrap4',
            });
    $('.drgpicker').daterangepicker(
            {
              singleDatePicker: true,
              timePicker: false,
              showDropdowns: true,
              locale:
                      {
                        format: 'MM/DD/YYYY'
                      }
            });
    $('.time-input').timepicker(
            {
              'scrollDefault': 'now',
              'zindex': '9999' /* fix modal open */
            });
    /** date range picker */
    if ($('.datetimes').length) {
      $('.datetimes').daterangepicker(
              {
                timePicker: true,
                startDate: moment().startOf('hour'),
                endDate: moment().startOf('hour').add(32, 'hour'),
                locale:
                        {
                          format: 'M/DD hh:mm A'
                        }
              });
    }
    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
      $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
    $('#reportrange').daterangepicker(
            {
              startDate: start,
              endDate: end,
              ranges:
                      {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                      }
            }, cb);
    cb(start, end);
    $('.input-placeholder').mask("00/00/0000",
            {
              placeholder: "__/__/____"
            });
    $('.input-zip').mask('00000-000',
            {
              placeholder: "____-___"
            });
    $('.input-money').mask("#.##0,00",
            {
              reverse: true
            });
    $('.input-phoneus').mask('(000) 000-0000');
    $('.input-mixed').mask('AAA 000-S0S');
    $('.input-ip').mask('0ZZ.0ZZ.0ZZ.0ZZ',
            {
              translation:
                      {
                        'Z':
                                {
                                  pattern: /[0-9]/,
                                  optional: true
                                }
                      },
              placeholder: "___.___.___.___"
            });
    // editor
    var editor = document.getElementById('editor');
    if (editor) {
      var toolbarOptions = [
        [
          {
            'font': []
          }],
        [
          {
            'header': [1, 2, 3, 4, 5, 6, false]
          }],
        ['bold', 'italic', 'underline', 'strike'],
        ['blockquote', 'code-block'],
        [
          {
            'header': 1
          },
          {
            'header': 2
          }],
        [
          {
            'list': 'ordered'
          },
          {
            'list': 'bullet'
          }],
        [
          {
            'script': 'sub'
          },
          {
            'script': 'super'
          }],
        [
          {
            'indent': '-1'
          },
          {
            'indent': '+1'
          }], // outdent/indent
        [
          {
            'direction': 'rtl'
          }], // text direction
        [
          {
            'color': []
          },
          {
            'background': []
          }], // dropdown with defaults from theme
        [
          {
            'align': []
          }],
        ['clean'] // remove formatting button
      ];
      var quill = new Quill(editor,
              {
                modules:
                        {
                          toolbar: toolbarOptions
                        },
                theme: 'snow'
              });
    }
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
  <script>
    var uptarg = document.getElementById('drag-drop-area');
    if (uptarg) {
      var uppy = Uppy.Core().use(Uppy.Dashboard,
              {
                inline: true,
                target: uptarg,
                proudlyDisplayPoweredByUppy: false,
                theme: 'dark',
                width: 770,
                height: 210,
                plugins: ['Webcam']
              }).use(Uppy.Tus,
              {
                endpoint: 'https://master.tus.io/files/'
              });
      uppy.on('complete', (result) => {
        console.log('Upload complete! We’ve uploaded these files:', result.successful)
      });
    }
  </script>
  <script src="SellerChannel/js/apps.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-56159088-1');
  </script>
  <script src='SellerChannel/js/jquery.dataTables.min.js'></script>
  <script src='SellerChannel/js/dataTables.bootstrap4.min.js'></script>
  <script>
    $('#dataTable-1').DataTable(
            {
              autoWidth: true,
              "lengthMenu": [
                [16, 32, 64, -1],
                [16, 32, 64, "All"]
              ]
            });
  </script>
  <script src="SellerChannel/js/apps.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag()
    {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-56159088-1');
  </script>
  </body>
</html>