<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/Client/index::dynamic(~{::main})}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="../../../static/Client/css/myAccount.css" />
</head>

<body>
    <main class="container-fliud " style="width: 90%; margin: auto;clear: both; margin-top: 100px;">
       <div  style=" color:#797b7c ;text-align: center; margin-bottom: 70px;">
        <b style="font-size: 35px;">Giới Thiệu về IBook</b>
        <p style="font-size: 25px;">
         Ibook là một sinh thái thương mại buôn bán sách.
         Với phương châm hoạt động "Tất cả vì Khách Hàng", Ibook luôn không ngừng nổ lực nâng cao chất lượng dịch vụ và
         sản phẩm, từ đó mang đến trải nghiệm mua sắm trọn vẹn cho Khách Hàng Việt Nam với dịch vụ giao hàng nhanh trong
         2 tiếng và ngày hôm sau IBook lần đầu tiên tại Đông Nam Á, cùng cam kết cung cấp hàng chính hãng với chính
         sách hoàn tiền 111% nếu phát hiện hàng giả, hàng nhái.
        </p>
        <p style="font-size: 25px;">Ra mắt năm 2023, nền tảng thương mại IBook được xây dựng nhằm cung cấp cho người dùng những trải nghiệm dễ
            dàng, an toàn và nhanh chóng khi mua sắm trực tuyến thông qua hệ thống hỗ trợ thanh toán và vận hành vững
            mạnh.

            Chúng tôi có niềm tin mạnh mẽ rằng trải nghiệm mua sắm trực tuyến phải đơn giản, dễ dàng và mang đến cảm xúc
            vui thích. Niềm tin này truyền cảm hứng và thúc đẩy chúng tôi mỗi ngày tại IBook.</p>
       </div>

        <div class="row my-3">
           
            <div class="col-md-6 " style="height: 250px;font-size: 25px; color:#797b7c ;text-align: center; box-shadow: 0 2px 4px 1px rgba(0,0,0,.25);">
                <h3>Mục tiêu của chúng tôi</h3>
                <p >
                    Chúng tôi tin tưởng vào sức mạnh khai triển của công nghệ và mong muốn góp phần làm cho thế giới trở nên tốt
                    đẹp hơn bằng việc kết nối cộng đồng người mua và người bán thông qua việc cung cấp một nền tảng thương mại
                    điện tử.</p>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-md-5 " style="height: 250px;font-size: 25px; color:#797b7c ;text-align: center; box-shadow: 0 2px 4px 1px rgba(0,0,0,.25);">
                <h3>Đặc điểm về con người của chúng tôi</h3>
                <p >
                    Để định nghĩa chúng tôi là ai - thông qua lời nói hay cách ứng xử trong nhiều trường hợp khác nhau - thì thực
                    chất, chúng tôi Gần gũi, Vui vẻ và Đồng lòng. Đây là những đặc tính chính và nổi bật trong từng bước đường
                    phát triển của IBook.</p>
            </div>
            
        </div>
        <hr class="hr">
        <div style="height: auto;font-size: 25px; color:#797b7c ; ">
            <b >
                Thông tin về công ty
            </b>
            <pre>
                Công ty TNHH 404 Not Found
                - Địa chỉ đăng ký kinh doanh: Tòa T, Công viên phần mềm Quang Trung, Tô Kí- Quận 12 TP Hồ Chí Minh - Việt
                Nam.
    
                - Giấy chứng nhận Đăng ký Kinh doanh số 123456789 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày
                01/01/2023
    
                Quý khách có nhu cầu liên lạc, trao đổi hoặc đóng góp ý kiến, vui lòng tham khảo các thông tin sau:
    
                - Liên lạc qua điện thoại: 1900 0001
                - Liên lạc qua email: Truy cập hotro.ibook.vn
                - Fanpage của Ibook: http://facebook.com/IBook.vn
                - Đối tác có nhu cầu hợp tác quảng cáo hoặc kinh doanh: marketing@IBook.vn
    
                - Văn phòng chính: Tòa T, Công viên phần mềm Quang Trung, Tô Kí- Quận 12 TP Hồ Chí Minh - Việt Nam.
                - Văn phòng: Tòa T, Công viên phần mềm Quang Trung, Tô Kí- Quận 12 TP Hồ Chí Minh - Việt Nam.
            </pre>
        </div>
    </main>
</body>

</html>