<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/Client/index::dynamic(~{::main})}">

<body>
    <main ng-app="cart_app" ng-controller="cart_ctrl">
        <div class="cart_articical" style="margin-top: 70px;">

            <div class="cart_body">
                <div class="contain">
                    <div class="container-fliud">
                        <div class="row">
                            <div class="col-sm-1 text-center">

                                <div class="d-flex flex-column" style="margin-top: 100px; margin-left: 20px;">
                                    <div class="py-1" th:each="im:${item.listOfImagebooks}"><a
                                            style="width: 100px; height: 120px;"><img
                                                th:src="@{|/Client/images/${im.name}|}"
                                                style="width: 90px; height: 120px; margin: auto;" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="preview col-md-5 text-start" style="height: 100%;">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="pic-1"><img style="width: 80%; height: 700px; "
                                            th:src="@{|/Client/images/${item.listOfImagebooks.get(0).name}|}" /></div>
                                </div>
                            </div>
                            <div th:object="${item}" class="details col-md-6" style="margin-top: 50px;">
                                <p th:text="*{bookname}" style="color: red; font-weight: bold; font-size: 35px"></p>
                                <div class="rating">
                                    <div class="stars">
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-half"></i></i></span>
                                        <span class="review-no ms-2 text-dark">41 reviews</span>
                                    </div>
                                </div>
                                <div class="btn btn-warning" th:text="${item.statues}"></div> <b
                                    style="font-size: 20px;" class="mx-3"><span th:text="${item.productviews}"></span>
                                    <span>lượt xem</span></b>
                                <form action="" class="form-checked m-3">
                                    <input type="radio" th:checked="${item.isactive == true}  " name="isActive"> Đang
                                    bán
                                    <input type="radio" th:checked="${item.isactive  == false}  " name="isActive"> Tạm
                                    ngưng
                                </form>
                                <h2 class="price">Current price: <span
                                        th:text="${#numbers.formatDecimal(item.price, 0, 'POINT', 0, 'COMMA')} +'₫'"></span>
                                </h2>

                                <input type="number" ng-model="quantityPro" id="quantity" value="1" name="quantity"
                                    min="1" width="50px"> <label for="">{{messageBook}}</label>
                                <hr class="my-4">
                                <div class="action">

                                    <button th:disabled="${item.isactive  == false} OR ${item.statues == 'Hết hàng'} "
                                        th:attr="ng-click=@{|cart.add(${item.bookid})|}" onclick="as()"
                                        class="button_all_orange">Thêm vào giỏ</button>

                                    <button th:disabled="${item.isactive  == false} OR ${item.statues == 'Hết hàng'} "
                                        th:attr="ng-click=@{|buyNow(${item.bookid})|}" class="button_all_none">Mua
                                        Ngay</button>

                                </div>
                                <hr class="my-5">
                                <div style="width: 700px" class="info_book">
                                    <p><span>SKU</span> <span style="margin-left: 100px;" th:text="*{bookid}"></span>
                                    </p>
                                    <p><span style="float: left;">CATEGORY</span><span style="float: left;">
                                            <div class="d-flex flex-column">
                                                <div th:each="c : ${item.listOfTypebooks}" class="py-2"
                                                    style="margin-left: 40px; margin-top: -10px; color: #666;">
                                                    <strong th:text="${c.categories.name}"></strong>
                                                </div>
                                            </div>
                                        </span></p>
                                    <p><span>TAGS</span> <span style="margin-left: 95px;">book,
                                            psychological</span></p>
                                    <p><span>SỐ LƯỢNG</span> <span style="margin-left: 90px;" th:text="${item.quantity}"> </span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr style="margin-top: 70px; width: 85%; margin: auto; margin-top: 70px;">
        <div class="shop_info mt-5" style="margin-bottom: 55px;">
            <div class="row">
                <div class="col-md-5">
                    <div class="d-inline-flex align-content-center pe-5" style="border-right: 1px solid #999;">
                        <div class="p-1"><button class=" my-5"
                                style="margin-left: 50px; border: none; background: none;"><img class="shop_avatar"
                                    th:src="@{|/Client/images/${item.shoponlines.listOfFiles.get(0).filename}|}"
                                    width="100%" style="border: 1px solid #666;" alt=""></button>
                        </div>
                        <div class="d-flex flex-column " style=" margin-top: 60px; ">
                            <div class="p-1 ms-3"><a
                                    style="text-decoration: none; color: #080808; font-size:20px ; font-weight: 500;"
                                    th:attr="ng-click=@{|toShopDetail(${item.shopid})|}"><span
                                        th:text="${item.shoponlines.shopname}"></span></a></div>
                            <div class="ms-1 mt-3">
                                <a class="btn shop_button" th:attr="ng-click=@{|toShopDetail(${item.shopid})|}"
                                    style="float: left;color: white; background-color: #C93F04;">Shop</a>
                                <a class=" btn shop_button"
                                    style=" color: #333;background:none; border: 1px solid black;">Chat</a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-7">
                    <div class="d-flex flex-column " style=" margin-top: 50px; font-size: 25px; font-weight: 500; ">
                        <div class="p-1 ms-3">
                            <p><span>Reviews </span> <span style="margin-left: 30px;" th:text="${total}"></span> <span
                                    style="margin-left: 100px;">Joined </span><span style="margin-left: 20px;">4 year
                                    ago</span></p>
                        </div>
                        <div class="p-1 ms-3 mt-2">
                            <div class="">
                                <p><span>Products </span> <span style="margin-left: 20px;"  th:text="${profile.listOfBooks.size()}"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr style="margin-top: 70px; width: 85%; margin: auto;">
        <div class="des_product px-5">
            <h2>Thông Tin Chi Tiết</h2>
            <br>

            <ul class="nav nav-tabs" style="font-size: 25px;" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#des_product">Mô tả</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#info_product">Nội dung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#reviews_product">Đánh giá</a>
                </li>
            </ul>
            <div th:object="${item}" class="scrop tab-content">
                <div id="des_product" class="container tab-pane active"><br>
                    <h3>Mô tả</h3>
                    <table class="table table-hover m-auto" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tên tác phẩm</td>
                                <td th:text="*{bookname}"></td>
                            </tr>
                            <tr>
                                <td>Tác giả</td>
                                <td th:each="tg : ${item.listOfWriters}">
                                    <p th:text="${tg.writtingmasters.namewm}"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>Thể loại</td>
                                <td>
                                    <div class="d-flex flex-column">
                                        <div class="px-2" th:each="c : ${item.listOfTypebooks}">
                                            <p th:text="${c.categories.name}"></p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Nhà xuất bản</td>
                                <td th:text="*{publishingcompanies.namepc}"></td>
                            </tr>
                            <tr>
                                <td>Năm xuất bản</td>
                                <td th:text="*{publishingyear}"></td>
                            </tr>
                            <tr>
                                <td>Kích thước</td>
                                <td th:text="*{size}"></td>
                            </tr>
                            <tr>
                                <td>Số trang</td>
                                <td th:text="*{totalpage}"></td>
                            </tr>
                            <tr>
                                <td>Ngôn ngữ</td>
                                <td th:text="*{language}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="info_product" class="container tab-pane fade"><br>
                    <h3 th:text="${item.bookname}"></h3>
                    <p style="padding: 50px; font-size: 22px;" th:id="content+${item.bookid}"
                        th:attr="ng-init=@{|loadContent(${item.bookid})|}"></p>
                </div>
                <div id="reviews_product" class="container tab-pane fade"><br>
                    <h3>Đánh giá</h3>
                    <div th:each="e : ${eva}" class="review_box">
                        <div class="float-start">
                            <a href="#" style="text-decoration: none; color: #080808;"><span><i style="font-size: 30px;"
                                        class="bi bi-person-circle mx-3"></i></span>
                                <span style="font-size: 22px;"
                                    th:text="${e.detailbookings.bookings.account.username}"></span></a>
                        </div>
                        <div id=""  th:attr="ng-init=@{|calcRate(${e.rating},${e.evaluateid})|}" class="ratings float-end;">
                            <input type="radio" th:id="sstar5+${e.evaluateid}" name="rating" value="5" />
                            <label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            
                            <input type="radio" th:id="sstar4half+${e.evaluateid}" name="rating" value="4.5" />
                            <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            
                            <input type="radio" th:id="sstar4+${e.evaluateid}" name="rating" value="4" />
                            <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                            
                            <input type="radio" th:id="sstar3half+${e.evaluateid}" name="rating" value="3.5" />
                            <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            
                            <input type="radio" th:id="sstar3+${e.evaluateid}" name="rating" value="3" />
                            <label class = "full" for="star3" title="Meh - 3 stars"></label>
                            
                            <input type="radio" th:id="sstar2half+${e.evaluateid}" name="rating" value="2.5" />
                            <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            
                            <input type="radio" th:id="sstar2+${e.evaluateid}" name="rating" value="2" />
                            <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                            
                            <input type="radio" th:id="sstar1half+${e.evaluateid}" name="rating" value="1.5" />
                            <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            
                            <input type="radio" th:id="sstar1+${e.evaluateid}" name="rating" value="1" />
                            <label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                            
                            <input type="radio" th:id="sstarhalf+${e.evaluateid}" name="rating" value="0.5" />
                            <label class="half" for="sstarhalf" title="Sucks big time - 0.5 stars"></label>
                        </div>
                        
                        <div class="mx-4" style="clear: both; font-size: 20px;">
                            <p class="mx-3" th:text="${e.reviewtext}"></p>
                        </div>
                        <div style="margin-top: 30px; margin-left: 100px;">
                            <div th:each="i : ${e.listImageEva}" style="width: 9%; height: 20%; float: left; margin-left: 10px;">
                                <img th:src="@{|/Client/images/${i.image}|}" class="d-block"
                                    style="width: 90%; height: 90%; margin-top: -10px;" alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <hr class="container my-5">
        <div style="width: 100%;">

            <div>
                <p style="text-align: center;font-family: initial; font-weight: 500; font-size: 50px;">Sản Phẩm Tương Tự
                </p>
            </div>
            <div>
                <div class="book_related" style="width: 90%; clear: both;">


                    <div th:each="book : ${books}" class="book_item my-3" style="margin-left: 1%;">
                        <div class="book_img text-center">
                            <img th:src="@{|/Client/images/${book.listOfImagebooks.get(0).name}|}" alt="">
                            <button class="btn" style="background-color: #C93F04; color: white; font-size: 18px;">Chi
                                tiết</button>
                        </div>
                        <div class="book_title text-center mt-3">
                            <a th:href="@{|/product/detail/${book.bookid}|}">
                                <p th:text="${book.bookname}"></p>
                            </a>
                            <p style="font-size: 18px;margin-top: 0px;  color: #666;"
                                th:text="${#strings.abbreviate(book.shoponlines.shopname, 10)}"></p>
                            <p style="font-size: 18px;margin-top: -10px;">Giá : <strong
                                    th:text="${#numbers.formatDecimal(book.price, 0, 'POINT', 0, 'COMMA')} +'đ'">200.00
                                    VND</strong>
                            </p>
                        </div>

                        <div class="d-flex justify-content-between " style="margin-top: -10px;">
                            <div class="px-2">
                                <p style="font-size: 18px;margin-top: 10px;"> <span
                                        th:text="${book.quantitysold}"></span> <span> Đã
                                        bán</span></p>
                            </div>

                            <div class=" text-end">
                                <div class="d-flex flex-row-reverse">
                                    <div class="p-2"><a href="#" class="text-dark"><i class="bi bi-heart"
                                                style="font-size: 25px;"></i></a></div>
                                    <div class="p-2"><a th:attr="ng-click=@{|cart.add(${book.bookid})|}"
                                            class="text-dark"> <i class="bi bi-cart3" style="font-size: 25px;"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                    <div style="clear: both;">
                        <button class="button_all_orange my-3" style="margin-left: 44%; clear: both;">See more</button>
                    </div>
                </div>
            </div>

        </div>
        <script th:src="@{/Client/Js/cart/cart.js}"></script>
        <script src="../../../static/Client/Js/cart/cart.js"></script>
    </main>

</body>

</html>